.Board {
  /* padding: 8em auto; */
  margin: 10rem auto;
  display: grid;
  grid-gap: 1rem;
  width: 25rem;
  height: 40rem;
  background: rgb(32, 0, 64);
  border: 0.5rem solid rgb(32, 0, 64);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 1.6rem 2.5rem;
}
