/* .Preview {
  position: absolute;
  top: 0;
  left: 72.2vw;
  background: rgba(0, 0, 0, 0.1);
  border: 5rem solid rgba(0, 0, 0, 0);
  border-radius: 2rem;
  margin-top: 3rem;
}

.Preview-board {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repate(4, 1fr);
  width: 4rem;
  height: 4rem;
} */

.Preview {
  /* position: absolute; */
  /* top: 0;
  left: 10rem; */
  /* margin-bottom: -30rem; */
  margin: auto;
  width: 8rem;
  height: 8rem;
  background: rgba(0, 0, 0, 0.1);
  border: 0.5rem solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.Preview-board {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8rem;
  height: 8rem;
}
