* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background-color: #406;
  height: 100vh;
}

.App-logo {
  visibility: hidden;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
