.GameStats {
  position: relative;
  /* width: -10rem; */
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
}

.GameStats__left {
  /* right: 0;
  top: 10vh;
  text-align: left; */
}

.GameStats__right {
  /* right: 10rem;
  bottom: 0;
  text-align: left; */
  /* width: 5rem; */
  margin-top: -22rem;
  margin-left: 35rem;
  height: 100vh;
}

/* Dimenssion/color of the gamestats display*/
.GameStats .value {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: rgba(255, 255, 255, 1);
}
